<div class="container-fluid">
  <h1>Calculator Web App</h1><small> By Jacob Haralson</small> 
  <div class="row">
    <input class="form-control text-right" type="text" placeholder="{{input}}" readonly>
  </div>
  <div class="row">
    <input class="form-control text-right" type="text" placeholder="{{result}}" readonly>
  </div>
  <div class="row">
    <button type="button" class="btn btn-danger col-sm-6" (click)="allClear()">Clear</button>
    <button type="button" class="btn btn-warning col-sm-3" (click)="clear()">Delete</button>
    <button type="button" class="btn btn-info col-sm-3 active" (click)="pressOperator('/')">/</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('7')">7</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('8')">8</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('9')">9</button>
    <button type="button" class="btn btn-info col-sm-3 active" (click)="pressOperator('*')">x</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('4')">4</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('5')">5</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('6')">6</button>
    <button type="button" class="btn btn-info col-sm-3 active" (click)="pressOperator('-')">-</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('1')">1</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('2')">2</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('3')">3</button>
    <button type="button" class="btn btn-info col-sm-3 active" (click)="pressOperator('+')">+</button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('.')">.</button>
    <button type="button" class="btn btn-defualt col-sm-3 active" (click)="pressNum('0')">0</button>
    <button type="button" class="btn btn-success col-sm-6" (click)="getAnswer()">Enter</button>
  </div>
  <p>
    Constructed in Angular and styled using Bootstrap 5. Please feel free to check out the rest of my GitHub repo and leave any comments!
  </p>
</div>
